
<!--copy rights start here-->
<div class="copyrights" style="margin-top:100%">
   <p>© 2017| Design by  <a href="#" target="_blank">shopapp</a> </p>
</div>  
<!--copy rights end here-->



     <script src="js/gnmenu.js"></script>
          <script>
            new gnMenu( document.getElementById( 'gn-menu' ) );
         </script>
