	<!-- /pages_agile_info_w3l -->

						<div class="pages_agile_info_w3l page_error">
							<!-- /login -->
							   <div class="over_lay_agile_pages_w3ls error">
								  <div class="registration error">
								
												
													
													  <h2>404</h2>
													 <h3>Oops! Page Not Found.</h3>
													
													 <h6><a href="/">Back To Home</a><h6>
												</div>
										
										<!--copy rights start here-->
											<div class="copyrights_agile error">
												 <p>© 2017   <a href="#" target="_blank">shopapp</a> </p>
											</div>	
											<!--copy rights end here-->
						    </div>
						</div>
							<!-- /login -->
